body{
    background-color: rgb(123, 230, 235);
}

.container {
    width: 500px;
    margin: 20px auto;
    position: relative;
}

select {
    float: left;
    width: 100%;
    height: 30px;
    visibility: hidden;
}

.custom-select {
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.spanVal {
    font-size: 16px;
    font-family: arial;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px;
    width: 97%;
    float: left;
    position: relative;
    cursor: pointer;
}

.spanVal:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 13px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #999;
}

.custom-select ul {
    float: left;
    width: 100%;
    margin: -1px 0 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 2px 0px #ccc;
    display: none;
}

.custom-select li {
    float: left;
    width: 96%;
    font-size: 14px;
    color: #333;
    font-family: arial;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.custom-select li:hover,
.custom-select li.active {
    background-color: #6184c4;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}
